click==8.1.2
cycler==0.11.0
Flask==2.1.1
gunicorn==20.1.0
itsdangerous==2.1.2
Jinja2==3.1.1
joblib==1.1.0
kiwisolver==1.4.2
MarkupSafe==2.1.1
matplotlib==3.5.1
numpy==1.20.1
pandas==1.4.2
Pillow==9.1.0
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2022.1
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
six==1.16.0
threadpoolctl==3.1.0
Werkzeug==2.1.1
distro==1.7.0
grandalf==0.6
json5==0.9.6
jupyter-core==4.10.0
notebook==6.4.11
starlette==0.17.1
PyQtWebEngine==5.15.5
PyQtChart==5.15.5
PyQt5_sip==12.10.1
mistune==2.0.2
pydot==1.4.2
smmap==5.0.0
scmrepo==0.0.16
threadpoolctl==3.1.0